<html>
<head>
    <title>Movies</title>
</head>
<body>
{{#movies}}
    <div>
        <h3>Title: {{title}}</h3>
        <p><b>Year:</b> {{year}}</p>
        <p><b>Rated:</b> {{rated}}</p>
        <p><b>Released:</b> {{released}}</p>
        <p><b>Runtime:</b> {{runtime}}</p>
        <p><b>Genres:</b> {{genre}}</p>
        <p><b>Director:</b> {{director}}</p>
        <p><b>Writer:</b> {{writer}}</p>
        <p><b>Actors:</b> {{actors}}</p>
        <p><b>Plot:</b> {{plot}}</p>
        <p><b>Language:</b> {{language}}</p>
        <p><b>Country:</b> {{country}}</p>
        <p><b>Awards:</b> {{awards}}</p>
        <p><b>Poster:</b> {{poster}}</p>
        <p><b>Metascore:</b> {{metascore}}</p>
        <p><b>imdbRating:</b> {{imdbRating}}</p>
        <p><b>imdbVotes:</b> {{imdbVotes}}</p>
        <p><b>imdbID:</b> {{imdbID}}</p>
        <p><b>Type:</b> {{type}}</p>
        <p><b>Response:</b> {{response}}</p>
    </div>
{{/movies}}
</body>
</html>